[submodule "newsify"]
	path = projects/newsify
	url = git@github.com:montecamo/newsify
	branch = master
[submodule "bezie"]
	path = projects/bezie
	url = git@github.com:montecamo/bezie-visualizer
	branch = master
[submodule "twitter-project"]
	path = projects/twitter-project
	url = git@gitlab.com:montecamo/twitter-project.git 
	branch = master
[submodule "projects/fracty"]
	path = projects/fracty
	url = git@github.com:montecamo/fracty
	branch = master
[submodule "projects/jobos"]
	path = projects/jobos
	url = git@github.com:montecamo/jobos
	branch = master
[submodule "projects/daves"]
	path = projects/daves
	url = git@gitlab.com:montecamo/daves.git 
	branch = master
[submodule "projects/pushed"]
	path = projects/pushed
	url = git@github.com:montecamo/pushed
	branch = master
[submodule "projects/pixiwave"]
	path = projects/pixiwave
	url = git@github.com:montecamo/pixiwave.git
	branch = master
[submodule "projects/cors-proxy"]
	path = projects/cors-proxy
	url = git@github.com:theboringindustries/cors-anywhere.git 
	branch = master
[submodule "projects/cors-anywhere"]
	path = projects/cors-anywhere
	url = git@github.com:theboringindustries/cors-anywhere.git
	branch = master
[submodule "projects/resplash"]
	path = projects/resplash
	url = git@github.com:montecamo/resplash.git
	branch = master
