[submodule "newsify"]
	path = projects/newsify
	url = git@github.com:montecamo/newsify
[submodule "bezie"]
	path = projects/bezie
	url = git@github.com:montecamo/bezie-visualizer
[submodule "twitter-project"]
	path = projects/twitter-project
	url = git@gitlab.com:montecamo/twitter-project.git 
[submodule "projects/fracty"]
	path = projects/fracty
	url = git@github.com:montecamo/fracty
[submodule "projects/jobos"]
	path = projects/jobos
	url = git@github.com:montecamo/jobos
[submodule "projects/daves"]
	path = projects/daves
	url = git@gitlab.com:montecamo/daves.git 
[submodule "projects/pushed"]
	path = projects/pushed
	url = git@github.com:montecamo/pushed
